<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h2>Product List</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Id</td>
            <td th:text="${product.name}">Product Name</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="${product.price}">Price</td>
        </tr>
    </table>
    <a href="/products/add">Add product</a>
</body>
</html>